<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Verified Seller</title>
    <link rel="stylesheet" href="static/registerverify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="form-container">
        <h1>Register as Verified Seller</h1>
        <p>Username: {{ username }}</p> <!-- Display username -->
        <p>Email: {{ email }}</p> <!-- Display email -->
        <form action="/register_verified" method="POST">
            <input type="text" name="shop_name" placeholder="Shop Name" required>
            <div class="textarea-container">
                <textarea name="shop_description" placeholder="Shop Description" required></textarea>
            </div>
            <button type="submit">Submit Application</button>
        </form>
    </div>
</body>
</html>